doctype html(lang='en')

head
    title Your prismic.io project
    link(rel="stylesheet", href="/stylesheets/style.css")
    // Required for Previews and Experiments
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script
      = "window.prismic = { endpoint: '" + ctx.endpoint + "' };"
    script(src="//static.cdn.prismic.io/prismic.min.js")

body

    header
        a(href="/")
            h1 Your prismic.io project

    block body
