<!DOCTYPE html>
<html>
  <head>
    <title>Your prismic.io project</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Required for Previews and Experiments -->
    <script src="//static.cdn.prismic.io/prismic.min.js"></script>
  </head>
  <body>
  
    <header>
      <a href="/<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">
        <h1>Your prismic.io project</h1>
      </a>
    </header>

    <%-body -%>

  </body>
</html>