<html>
	<head>
		<title></title>
	</head>
	<body>
		<article>
		    <p>The content you're attempting to access is right now being updated.</p>
		    <p>You'll be automatically redirected in a few seconds, or if nothing happens, please <a href="<%= url %>">click right here</a>.
		</article>

		<script type="text/javascript">
			setTimeout(function(){window.location = "<%= url %>";}, 3000);
		</script>
	</body>
</html>