<% layout('layout') -%>

<h2 id="title">
    <% if(docs && docs.results.length > 0) { %>
        <%= docs.results.length %> documents
    <% } else { %>
        No results found
    <% } %>
</h2>

<% if (docs) { %>
    <ul id="list">
        <% for(var i=0; i<docs.results.length; i++) { %>
            <li>
                <a href="<%= ctx.linkResolver(ctx, docs.results[i]) %>">
                    <%= docs.results[i].slug %>
                </a>
            </li>
        <% } %>
    </ul>
<% } %>